.vscode/
*.exe
.DS_Store
.idea/
*.log
*.bat
vendor/
godcr
godcr.conf
godcr.exe
godcr-cli
godcr-cli.exe
godcr-fyne
godcr-fyne.exe
godcr-nuklear
godcr-nuklear.exe
godcr-terminal
godcr-terminal.exe
godcr-web
godcr-web.exe
!godcr-cli/
!godcr-fyne/
!godcr-nuklear/
!godcr-terminal/
!godcr-web/
enablegomod.bat
web/static/app/node_modules
web/static/dist/js/app.bundle.js
web/static/dist/js/app.bundle.js.map
web/static/dist/js/vendors~app.bundle.js
web/static/dist/js/vendors~app.bundle.js.map
