body {
  background-color: #f5f5f5;
  font-size: 13px;
}

.header-top .inner {
  padding: 15px 0;
  color: #333;
}

.navbar {
  background-color: #fff;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.03), 1px 1px 2px 2px rgba(0, 0, 0, 0.03);
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.03), 1px 1px 2px 2px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.03), 1px 1px 2px 2px rgba(0, 0, 0, 0.03);
}

.nav-link {
  padding: 10px 22px !important;
}

.nav-link i,
.nav-link span {
  display: inline-block;
  height: 100%;
  font-size: 18px;
}

.confirmed-status span {
  border: 1px solid #0bda72;
  color: #0bda72;
  display: block;
  padding: 0 0.1rem;
  float: right;
  margin-bottom: 0;
}

.pending-status span {
  border: 1px solid #24e8ef;
  color: #24e8ef;
  display: block;
  padding: 0 0.1rem;
  float: right;
  margin-bottom: 0;
}

.content {
  padding: 25px 0;
}

table td {
  white-space: nowrap;
}

.valign-top td {
  vertical-align: top;
}

.table td,
.table th {
  padding: 0.3rem;
}

.history-table {
  table-layout: fixed;
}

.history-table th,
.history-table td {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.table.pad-big td,
.table.pad-big th {
  padding: 0.7rem;
}

.table.borderless td,
.table.borderless th {
  border: none;
}

.table.inverse tbody td {
  background-color: #f5f5f5 !important;
  border-color: #fff !important;
}

.table.no-border tbody td {
  border: none;
}

.card {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

.card-body {
  padding: 1.3rem 1.8rem !important;
}

.card-header-list-item:nth-last-child(2) {
  border: none !important;
}

.form-control {
  border-radius: 0;
}

.form-group.form-check.disabled {
  opacity: 0.65;
}

.destination {
  .form-group {
    margin-bottom: 0;
  }

  .invalid-feedback {
    display: block;
  }
}

.error {
  color: brown;
}

.btn {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  padding: 0.375rem 1rem;
}

.btn i {
  font-size: 12px;
}

.btn-primary {
  background-color: #2970ff;
  border-color: #2970ff;
}

.btn-outline-primary {
  color: #2970ff !important;
  font-weight: bold;
  border: none;
}

.btn-outline-primary:hover {
  color: #fff !important;
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #000;
  background: #f3f5f6 !important;
  border-color: transparent;
}

.btn-success {
  background-color: #1dc54c;
  border-color: #1dc54c;
}

.btn-outline-success {
  color: #1dc54c !important;
  font-weight: bold;
  border: none;
}

.btn-outline-success:hover {
  color: #fff !important;
}

.btn-danger {
  background-color: #12153e;
  border-color: #12153e;
}

.btn-outline-danger {
  color: #12153e;
  font-weight: bold;
  border: none;
}

.btn-outline-danger:hover {
  color: #fff !important;
}

.removeDestinationBtn {
  padding: 0.25rem 0.3rem !important;
  font-size: 0.875rem;
  line-height: 0.5;
}

.modal-content {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

.breadcrumb {
  background: none;
  padding: 1rem 0 0;
  margin: 0;
}

.breadcrumb-item {
  font-size: 15px;
}

.collapsible .card-header {
  padding: 0 !important;
}

.card-header .btn-link {
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.card-header.white-bg {
  background-color: #fff;
}

.no-pad {
  padding: 0 !important;
}

.big-pad {
  padding: 15px 5px;
}

.no-btm-pad {
  padding-bottom: 0 !important;
}

select#source-account[disabled] {
  border: none !important;
  background-color: transparent !important;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* -------------slide down animation------------- */
.slide-down,
.slide-up {
  max-height: 0;
  overflow-y: hidden;
  -webkit-transition: max-height 0.5s ease-in-out;
  -moz-transition: max-height 0.5s ease-in-out;
  -o-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}

.slide-down {
  max-height: 10em;
}

/* Range slider */

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 39px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 39px;
  background: #007bff;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #007bff;
  cursor: pointer;
}

.slider:hover {
  opacity: 1;
}

.table.sticky-table {
  position: sticky;
  top: 0;
  background: #f5f5f5;
}

/** loading indicator styles **/
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 11px;
}

.lds-ellipsis div {
  position: absolute;
  top: 0;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #0c1e3e;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

label.list-group-item div {
  display: inline !important;
}

.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(19px, 0);
  }
}

.lead-text {
  font-size: 15px;
  line-height: 1.2;
  color: gray;
  font-weight: 100;
  text-align: justify;
}

.btnCopy {
  font-size: 14px;
  padding: 0 10px;
  background: none;
  border: none;
}

.list-group-item {
  user-select: none;
}

.list-group input[type="checkbox"] {
  display: none;
}

.list-group input[type="checkbox"] + .list-group-item {
  cursor: pointer;
}

.list-group input[type="checkbox"] + .list-group-item::before {
  content: "\2715";
  font-weight: bold;
  margin-right: 1em;
}

.list-group input[type="checkbox"]:checked + .list-group-item::before {
  color: inherit;
  content: "\2713";
}

.list-group-item h5 {
  font-size: 1em !important;
}

label.list-group-item h5 {
  display: inline !important;
}

label.float-icon::before {
  float: left;
}

/* this is to take care of the padding embedded in the qr image */
.address-qr-img img {
  margin-left: -60px;
  margin-top: -20px;
}

@media screen and (max-width: 600px) {
  .address-qr-img img {
    margin-left: -40px;
  }
}

@media screen and (max-width: 400px) {
  .address-qr-img img {
    margin-left: -4px;
  }
}

/* end padding embedded in the qr image workaround */

/* Tabs */

.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: transparent;
  border-color: transparent transparent #f3f3f3;
  border-bottom: 4px solid !important;
}

/* Shadow */
.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.shadow-lg {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.shadow-none {
  box-shadow: none !important;
}

.no-border {
  border: none;
}
