body {
  background-color: #f5f5f5;
  font-size: 13px;
}

.header-top .inner {
  padding: 15px 0;
  color: #333;
}

.navbar {
  background-color: #fff;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.03), 1px 1px 2px 2px rgba(0, 0, 0, 0.03);
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.03), 1px 1px 2px 2px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.03), 1px 1px 2px 2px rgba(0, 0, 0, 0.03);
}

.nav-link {
  padding: 10px 22px !important;
}

.nav-link i,
.nav-link span {
  display: inline-block;
  height: 100%;
  font-size: 18px;
}

.content {
  padding: 25px 0;
}

.table td,
.table th {
  padding: 0.3rem;
}

.table.inverse tbody td {
  background-color: #f5f5f5 !important;
  border-color: #fff !important;
}

.card {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

.card-body {
  padding: 1.3rem 1.8rem !important;
}

.form-control {
  border-radius: 0;
}

.error {
  color: brown;
}

.btn {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  padding: 0.375rem 1rem;
}

.btn i {
  font-size: 12px;
}

.modal-content {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

.breadcrumb {
  background: none;
  padding: 1rem 0 0;
  margin: 0;
}

.breadcrumb-item {
  font-size: 15px;
}

.collapsible .card-header {
  padding: 0 !important;
}

.card-header .btn-link {
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.no-btm-pad {
  padding-bottom: 0 !important;
}

select#source-account[disabled] {
  border: none !important;
  background-color: transparent !important;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* -------------slide down animation------------- */
.slide-down,
.slide-up {
  max-height: 0;
  overflow-y: hidden;
  -webkit-transition: max-height 0.5s ease-in-out;
  -moz-transition: max-height 0.5s ease-in-out;
  -o-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}

.slide-down {
  max-height: 10em;
}

/* Range slider */

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 39px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 39px;
  background: #007bff;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #007bff;
  cursor: pointer;
}

.slider:hover {
  opacity: 1; 
}
