body {
    background-color: #f5f5f5;
    font-size: 13px;
}

.header-top .inner {
    padding: 15px 0;
    background-color: #09c;
}

.header-top .inner h3 {
    color: #fff;
}

.navbar  {
    background-color: #fff;
    box-shadow: 0 0 2px 2px rgba(0,0,0,.03), 1px 1px 2px 2px rgba(0,0,0,.03);
    -webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,.03), 1px 1px 2px 2px rgba(0,0,0,.03);
    -moz-box-shadow: 0 0 2px 2px rgba(0,0,0,.03), 1px 1px 2px 2px rgba(0,0,0,.03);
}

.nav-link {
    padding: 10px 22px !important;
}

.nav-link span, .nav-link i {
    display: inline-block;
    height: 100%;
    font-size: 18px;
}


.content {
    padding: 25px 0;
}

thead th {
    color: rgba(30,34,39,.3);
    border: none !important;
}

tbody td {
    background-color: #fff;
    border-top: 6px solid #f5f5f5 !important;
    margin-top: 5px;
    padding: 1.5rem 1.2rem !important;
}