body {
    background-color: #f5f5f5;
    font-size: 13px;
}

.header-top .inner {
    padding: 15px 0;
    color: #333;
}


.navbar  {
    background-color: #fff;
    box-shadow: 0 0 2px 2px rgba(0,0,0,.03), 1px 1px 2px 2px rgba(0,0,0,.03);
    -webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,.03), 1px 1px 2px 2px rgba(0,0,0,.03);
    -moz-box-shadow: 0 0 2px 2px rgba(0,0,0,.03), 1px 1px 2px 2px rgba(0,0,0,.03);
}

.nav-link {
    padding: 10px 22px !important;
}

.nav-link span, .nav-link i {
    display: inline-block;
    height: 100%;
    font-size: 18px;
}


.content {
    padding: 25px 0;
}


.table.inverse tbody td {
    background-color: #f5f5f5 !important;
    border-color: #fff !important;
}
.card {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.card-body {
    padding: 1.3rem 1.8rem !important;
}


.form-control {
    border-radius: 0px;
}

.error {
    color: brown;
}

.btn {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    padding: .375rem 1rem;
}

.btn i {
    font-size: 12px;
}


.modal-content {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

.stepper .nav-tabs {
    border-color: transparent;
    background-color: #fff;
}

.stepper .nav-tabs .nav-item {
    transition: all 0.5s;
    padding: 0 !important;
}

.stepper .nav-link {
    color: inherit;
    display: block;
    text-align: center;
    padding: 20px 0 !important;
    border-color: transparent !important;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

.stepper .nav-link{
    pointer-events: none;
    cursor: default;
}

.stepper .nav-tabs .stepper-active {
    background-color: #09c !important;
    color: #fff;
}

.stepper .nav-link span {
    font-size: 14px !important;
}

.stepper .progress {
    height: 3px;
}

.stepper .tab-content {
    padding: 20px 30px;
    background-color: #fff;
    border: 1px solid #d0d0d0;
    border-top-color: transparent;
}