body {
    background-color: #f5f5f5;
    font-size: 13px;
}

.header-top .inner {
    padding: 15px 0;
    color: #333;
}


.navbar  {
    background-color: #fff;
    box-shadow: 0 0 2px 2px rgba(0,0,0,.03), 1px 1px 2px 2px rgba(0,0,0,.03);
    -webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,.03), 1px 1px 2px 2px rgba(0,0,0,.03);
    -moz-box-shadow: 0 0 2px 2px rgba(0,0,0,.03), 1px 1px 2px 2px rgba(0,0,0,.03);
}

.nav-link {
    padding: 10px 22px !important;
}

.nav-link.active {
    font-weight: bold;
}

.nav-link span, .nav-link i {
    display: inline-block;
    height: 100%;
    font-size: 18px;
}


.content {
    padding: 25px 0;
}

.collapsible-panel {
    margin-bottom: 10px;
}


.table.inverse tbody td {
    background-color: #f5f5f5 !important;
    border-color: #fff !important;
}

.table td {
    white-space: nowrap; 
    text-overflow:ellipsis; 
    overflow: hidden; 
    max-width:1px;
}

.block {
    display: block !important;
}

.scrollable {
    max-height: 300px; 
    overflow-y: auto;
}
.card {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.card-body {
    padding: 1.3rem 1.8rem !important;
}


.form-control {
    border-radius: 0px;
}

.error {
    color: brown;
}

.btn {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    padding: .375rem 1rem;
}

.btn i {
    font-size: 12px;
}


.modal-content {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

#custom-tx-row {
    margin-bottom: 30px;
}