godcr-cli/godcr-cli
godcr-cli/godcr-cli.exe
godcr-fyne/godcr-fyne
godcr-fyne/godcr-fyne.exe
godcr-nuklear/godcr-nuklear
godcr-nuklear/godcr-nuklear.exe
godcr-terminal/godcr-terminal
godcr-terminal/godcr-terminal.exe
godcr-web/godcr-web
godcr-web/godcr-web.exe
