<!DOCTYPE html>
<html lang="en">
{{ template "html-head" }}
<body data-controller="receive">
    <div class="body">
        {{ template "header" .connectionInfo }}
        <div class="content">
            <div class="container">
                <div class="card">
                   <div class="card-body">
                       <h5 class="card-title">Accounts</h5>
                       <p class="lead-text">Accounts page coming soon</p>
                   </div>
                </div>
            </div>
        </div>
    </div>
    {{ template "footer" }}
</body>
</html>