<!DOCTYPE html>
<html lang="en">
{{ template "html-head" }}
<body>
    <div class="body">
        {{ template "header" }}
        <div class="content">
            <div class="container">
                {{ if .error }}
                <div class="alert alert-danger">{{ .error }}</div>
                {{ else }}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Account Name</th>
                            <th>Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range $account := .accounts }}
                        <tr>
                            <td>{{ $s.AccountName }}</td>
                            <td>
                                {{ if eq .Total .Spendable }}
                                {{ $s.Total }}
                                {{ else }}
                                Total {{ $s.Total }} (Spendable {{ $s.Spendable }})
                                {{ end }}
                            </td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
                {{ end }}
            </div>
        </div>
    </div>
</body>
</html>