<!DOCTYPE html>
<html lang="en">
{{ template "html-head" }}
<body>
    <div class="body">
        {{ template "header" }}
        <div class="content">
            <div class="container">
                <!-- if just one account and not detailed, show simple balance -->
                {{ if and (not .detailed) (eq (len .accounts) 1) }}
                {{ $account := index .accounts 0 }}
                <h3 class="mb-0">{{ simpleBalance $account.Balance false }}</h3>
                <a href="/?detailed=yes">(Show detailed balance)</a>
                {{ end }}

                {{ if or .detailed (gt (len .accounts) 1) }}
                <form class="mb-2">
                    <div class="form-check">
                        <input type="checkbox" {{ if .detailed }} checked {{ end }}
                                class="form-check-input"
                                value="yes"
                                name="detailed"
                                id="detailed"
                                onChange="this.form.submit()">
                        <label class="form-check-label" for="detailed">Show detailed balance</label>
                    </div>
                </form>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Account Name</th>
                            <th>Balance</th>
                            {{ if .detailed }}
                            <th>Spendable</th>
                            <th>Locked By Tickets</th>
                            <th>Voting Authority</th>
                            <th>Unconfirmed</th>
                            {{ end }}
                        </tr>
                    </thead>
                    <tbody>
                        {{ range $account := .accounts }}
                        <tr>
                            <td>{{ $account.Name }}</td>
                            <td>{{ simpleBalance $account.Balance $.detailed }}</td>
                            {{ if $.detailed }}
                            <td> {{ $account.Balance.Spendable }}</td>
                            <td> {{ $account.Balance.LockedByTickets }}</td>
                            <td> {{ $account.Balance.VotingAuthority }}</td>
                            <td> {{ $account.Balance.Unconfirmed }}</td>
                            {{ end }}
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
                {{ end }}
            </div>
        </div>
    </div>
</body>
</html>