<!DOCTYPE html>
<html lang="en">
{{ template "html-head" }}
<body>
    <div class="body">
        {{ template "header" }}
        <div class="content">
            <div class="container">
                {{ if .error }}
                <div class="alert alert-danger">{{ .error }}</div>
                {{ else }}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Account Name</th>
                            <th>Total</th>
                            <th>Spendable</th>
                            <th>Locked By Tickets</th>
                            <th>Voting Authority</th>
                            <th>Unconfirmed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range $s := .result }}
                        <tr>
                           <td>{{ $s.AccountName }}</td>
                           <td>{{ $s.Total }}</td>
                           <td>{{ $s.Spendable }}</td>
                           <td>{{ $s.LockedByTickets }}</td>
                           <td>{{ $s.VotingAuthority }}</td>
                           <td>{{ $s.Unconfirmed }}</td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
                {{ end }}
            </div>
        </div>
    </div>
</body>
</html>