<!DOCTYPE html>
<html lang="en">
{{ template "html-head" }}
<body>
<div class="body">
{{ if .noWallet }}
    <div class="text-center p-3">
        <p>First time? Get started by creating a wallet</p>
        <a href="/createwallet" class="btn btn-success">Create Wallet</a>
    </div>
{{ else }}
    {{ template "header" .connectionInfo }}
    <div class="content">
        <div class="container text-center">
            <h3 class="text-danger mb-3">Oops</h3>
            <div class="alert alert-danger">{{ .error }}</div>
            <p>Refresh or <a href="/">Go Home</a></p>
        </div>
    </div>
{{ end }}
</div>
</body>