<!DOCTYPE html>
<html lang="en">
{{ template "html-head" }}
<body>
    <div class="body" data-controller="history" data-action="scroll@window->history#windowScrolled">

        {{ template "header" .connectionInfo }}
        <div class="content">
            <div class="container" style="min-width: 850px !important; overflow: auto !important;">
                <div class="row">
                    <div class="col-md-3 col-sm-12 mb-2">
                        <select data-target="history.selectedFilter" data-action="change->history#selectedFilterChanged"
                                class="form-control" style="width: 150px;">
                            <option value="">All ({{ .transactionTotalCount }})</option>
                            {{ range $filter, $count := .transactionCountByFilter}}
                            <option value="{{ $filter }}">{{ $filter }} ({{ $count }})</option>
                            {{ end }}
                        </select>
                    </div>
                    <div class="col-md-4 float-md-right offset-md-5">
                        <p data-target="history.transactionCountContainer" class="text-right">Showing 1 to
                            <span data-target="history.transactionCount">{{ len .txs}}</span> of
                            <span data-target="history.transactionTotalCount">{{ .transactionTotalCount }}</span> rows</p>
                    </div>
                </div>
                <!-- sticky header -->
                <table class="table sticky-table d-none history-table" data-target="history.stickyTableHeader">
                    <thead>
                    <tr>
                        <th>Account</th>
                        <th>Date (UTC)</th>
                        <th>Type</th>
                        <th>Direction</th>
                        <th>Amount</th>
                        <th>Fee</th>
                        <th>Status</th>
                        <th>Hash</th>
                    </tr>
                    </thead>
                </table>

                <table class="table history-table">
                    <thead>
                    <tr>
                        <th style="width: 120px;">Account</th>
                        <th style="width: 142px;">Date (UTC)</th>
                        <th style="width: 68px;">Type</th>
                        <th style="width: 105px;">Direction</th>
                        <th style="width: 115px; text-align: center;">Amount</th>
                        <th style="width: 100px; text-align: center;">Fee</th>
                        <th style="width: 85px;">Status</th>
                        <th>Hash</th>
                    </tr>
                    </thead>
                    <tbody data-target="history.historyTable">
                        {{ range $index, $txn := .txs }}
                        <tr>
                            <td>{{ $txn.WalletAccountForTx }}</td>
                            <td>{{ $txn.LongTime }}</td>
                            <td>{{ $txn.Type }}</td>
                            <td><img style="width: 15px" src="/static/images/{{txDirectionImage $txn}}"> {{ $txn.Direction }}</td>
                            <td style="text-align: right">{{ amountDcr $txn.Amount }}</td>
                            <td style="text-align: right">{{ amountDcr $txn.Fee }}</td>
                            <td>{{ $txn.Status }}</td>
                            <td><a href="/transaction-details/{{ $txn.Hash }}" >{{  truncate $txn.Hash 10 }}</a></td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>

                <template data-target="history.txRowTemplate">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="text-align: right"></td>
                        <td style="text-align: right"></td>
                        <td></td>
                        <td></td>
                    </tr>
                </template>

                <div data-target="history.errorMessage" class="alert alert-danger d-none"></div>

            {{ template "loading-indicator" "history" }}

                <a href="/history?page={{ .previousPage }}" data-target="history.previousPageButton"
                   class="mr-2 {{ if lt .previousPage 1 }}d-none{{ end }}">
                    &lt; Previous
                </a>

                <span data-target="history.pageReport" class="text-muted">Page {{ .currentPage }} of {{ .totalPages }}</span>

                <a href="/history?page={{ .nextPage }}" data-target="history.nextPageButton"
                    data-next-page="{{ .nextPage }}" class="ml-2 {{ if not .nextPage }}d-none{{ end }}">
                    Next &gt;
                </a>

            </div>
        </div>
    </div>
    {{ template "footer" }}
</body>
</html>
