<!DOCTYPE html>
<html lang="en">
{{ template "html-head" }}
<body>
    <div class="body" data-controller="history" data-action="scroll@window->history#windowScrolled">

        {{ template "header" .connectionInfo }}
        <div class="content">
            <div class="container">
                <!-- sticky header -->
                <table class="table sticky-table d-none" data-target="history.stickyTableHeader">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Date</th>
                        <th>Direction</th>
                        <th>Amount</th>
                        <th>Fee</th>
                        <th>Type</th>
                        <th>Hash</th>
                    </tr>
                    </thead>
                </table>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Type</th>
                            <th>Direction</th>
                            <th>Amount</th>
                            <th>Fee</th>
                            <th>Status</th>
                            <th>Hash</th>
                        </tr>
                    </thead>
                    <tbody data-target="history.historyTable">
                        {{ range $index, $txn := .txs }}
                        <tr>
                            <td>{{ $txn.LongTime }}</td>
                            <td>{{ $txn.Type }}</td>
                            <td>{{ $txn.Direction }}</td>
                            <td style="text-align: right">{{ amountDcr $txn.Amount }}</td>
                            <td style="text-align: right">{{ amountDcr $txn.Fee }}</td>
                            <td>{{ $txn.Status }}</td>
                            <td><a href="/transaction-details/{{ $txn.Hash }}" >{{ $txn.Hash }}</a></td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>

                <template data-target="history.txRowTemplate">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="text-align: right"></td>
                        <td style="text-align: right"></td>
                        <td></td>
                        <td></td>
                    </tr>
                </template>

                <div data-target="history.errorMessage" class="alert alert-danger d-none"></div>

            {{ template "loading-indicator" "history" }}

                <a href="/history?page={{ .previousPage }}" data-target="history.previousPageButton"
                   class="mr-2 {{ if lt .previousPage 1 }}d-none{{ end }}">
                    &lt; Previous
                </a>

                <span data-target="history.pageReport" class="text-muted">Page {{ .currentPage }} of {{ .totalPages }}</span>

                <a href="/history?page={{ .nextPage }}" data-target="history.nextPageButton"
                    data-next-page="{{ .nextPage }}" class="ml-2 {{ if not .nextPage }}d-none{{ end }}">
                    Next &gt;
                </a>

            </div>
        </div>
    </div>
    {{ template "footer" }}
</body>
</html>
