{{ define "html-head" }}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="godcr - decred wallet">
    <meta name="author" content="The Decred developers">
    <title>GoDCR</title>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>

    <script src="/static/js/vendors~app.bundle.js"></script>
    <script src="/static/js/app.bundle.js?v={{timestamp}}"></script>
</head>
{{ end }}

{{ define "header" }}
<div data-controller="connection-info" class="header">
    <div class="header-top">
        <div class="inner">
            <div class="container">
                <div class="text-center">
                    <h3>GoDCR <small data-target="connection-info.networkType">{{ .NetworkType }}</small></h3>
                    <p data-target="connection-info.container">
                        Balance: <b data-target="connection-info.totalBalance">{{ .TotalBalance }}</b>
                        | Synced with <b data-target="connection-info.peersConnected">{{ .PeersConnected }}</b> Peers
                        | Latest Block: <b data-target="connection-info.latestBlock">{{ .LatestBlock }}</b>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggles="collapse" data-target="#nav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="nav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" id="nav-balance" href="/">
                            <span class="text">Overview</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-history" href="/history">
                            <span class="text">History</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-send" href="/send">
                            <span class="text">Send</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-receive" href="/receive">
                            <span class="text">Receive</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-staking" href="/staking">
                            <span class="text">Staking</span>
                        </a>
                    </li>
                </ul>
            </div>

            <ul class="navbar-nav flex-row ml-md-auto d-md-flex">
                <li class="nav-item">
                    <a class="nav-link" href="/settings">
                        <i class="fa fa-cog fa-2x"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
{{ end }}

{{ define "footer" }}
<script>
    $(function(){
        var pathname = window.location.pathname;
        var paths = pathname.split("/")
        var currentNavItem = "#nav-balance";

        if (pathname !== "/" && paths.length > 1) {
            currentNavItem = "#nav-" + paths[1];
        }

        window.$(currentNavItem).addClass("active");
    });
</script>
{{ end }}