<!DOCTYPE html>
<html lang="en">
{{ template "html-head" }}
<body>
    <div class="body">
    {{ template "header" .connectionInfo }}
        <div class="content">
            <div class="container">
                <div class="card">
                    <div class="card-body">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <p style="font-size: 15px">
                                {{ $balanceParts := splitBalanceIntoParts .accounts }}
                                <b>{{ index $balanceParts 0 }}{{ index $balanceParts 1 }}<span
                                            style="font-size:13px;">{{ index $balanceParts 2 }}</span></b><br/>
                                Current Total Balance
                            </p>
                        </div>
                    </div>

                    <h4 class="mt-3">Recent Activity</h4>
                    {{ if .loadTransactionErr }}
                    <div class="alert-danger"><p>{{.loadTransactionErr}}</p></div>
                    {{ else if eq (len .transactions) 0 }}
                    <p class="mt-3 text-center">No transaction found</p>

                    {{ else }}
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Direction</th>
                                <th>Amount</th>
                                <th>Fee</th>
                                <th>Type</th>
                                <th>Hash</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{ range $txn := .transactions }}
                            <tr>
                                <td>{{ .ShortTime }}</td>
                                <td>{{ .Direction }}</td>
                                <td>{{ amountDcr .Amount }}</td>
                                <td>{{ amountDcr .Fee }}</td>
                                <td>{{ .Type }}</td>
                                <td><a href="/transaction-details/{{ .Hash }}" >{{ .Hash }}</a></td>
                            </tr>
                            {{ end }}
                            </tbody>
                        </table>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>
{{ template "footer" }}
</body>
</html>