<!DOCTYPE html>
<html lang="en">
{{ template "html-head" }}
<body>
    <div class="body">
        {{ template "header" }}
        <div class="content">
            <div class="container">
                <div class="alert alert-danger d-none"></div>
                <div class="alert alert-success d-none"></div>
                <form method="POST" action="/purchase_tickets" id="purchase-tickets-form" novalidate>
                    {{ template "send-passphrase-modal" }}
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        {{ template "source-account-input" .accounts }}                                         
                                    </div>
                                    <div class="form-group">
                                        <label for="number-of-tickets">Number of Tickets (<strong>{{ .ticketPrice }} DCR / ticket</strong>)</label>
                                        <input ype="number" class="form-control" id="number-of-tickets" name="number-of-tickets" value="1" data-validate="true" data-required="true" />
                                    </div>
                                    <div class="form-group">
                                        <label for="spend-unconfirmed">Spend Unconfirmed</label>
                                        <input type="checkbox" name="spend-unconfirmed" id="spend-unconfirmed" value="1" />
                                    </div>
                                    <div class="form-group">
                                        <div class="errors"></div>
                                        <button class="btn btn-default" id="next-btn">Next</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
               </form>
            </div>
        </div>
    </div>
    {{ template "footer" }}
    <script type="text/javascript" src="/static/js/purchase_tickets.js"></script>
</body>
</html>