<!DOCTYPE html>
<html lang="en">
{{ template "html-head" }}
<body>
    <div class="body">
        {{ template "header" }}
        <div class="content">
            <div class="container">
                <div class="card">
                   <div class="card-body">
                       <h5 class="card-title">Generate Receive Address</h5>
                       <form id="generate-form">
                            <div class="row">
                                <div class="col-md-9 col-sm-12">
                                  <div class="form-group">
                                       <label for="account">Account</label>
                                       <select class="form-control" name="account" id="account">
                                            {{ range $account := .accounts }}
                                            <option value="{{ $account.Number }}">
                                                {{ $account.Name }} - {{ $account.Balance.Total }}
                                            </option>
                                            {{ end }}
                                       </select>
                                  </div>
                                </div>
                                <div class="col-md-3 col-sm-12">
                                    <div class="form-group btn-form-group">
                                      <button type="submit" id="submit" class="btn btn-success form-control">Generate</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="result-card">
                            <div id="result-text">
                                <strong>Address:</strong>
                                <span id="address"></span>
                            </div>
                            <div id="result-img"></div>
                        </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .btn-form-group {
            padding-top: 26px;
        }

        .result-card {
            font-size: 20px;
        }
    </style>
    <script>
        $(function(){
            $("#result-text").hide();

            $("#generate-form").submit(function(e){
                e.preventDefault()
                $.ajax({
                    type: 'GET',
                    url: '/generate-address/' + $("#account").val(),
                    data: {},
                    success: function(response) {
                        if (response.success) {
                            $("#address").text(response.address);
                            $("#result-img").html(response.imageStr);
                            $("#result-text").show();
                        } else {
                            alert(response.message);
                        }
                    },
                    error: function() {
                        alert("an error occurred");
                    }
                })
            })
        });
    </script>
</body>
</html>