<!DOCTYPE html>
<html lang="en">
{{ template "html-head" }}
<body data-controller="receive">
    <div class="body">
        {{ template "header" .connectionInfo }}
        <div class="content">
            <div class="container">

                <div data-target="receive.errorMessage" class="alert alert-danger d-none"></div>
                <div data-target="receive.successMessage" class="alert alert-success d-none"></div>

                <div class="card">
                   <div class="card-body">
                       <h5 class="card-title">Receiving Decred</h5>
                       <p class="lead-text">Each time you request payment, a new address is created to protect your privacy.</p>
                       <div class="row">
                           <div class="col-md-6 col-sm-12">
                               <div class="form-group form-inline">
                                   <label for="account">Account: </label>
                               {{ if gt (len .accounts) 1 }}
                                   <select data-target="receive.account" data-action="change->receive#generate" class="form-control"
                                           style="width: 80%; margin-left: 11px;" name="account" id="account">
                                   {{ range $account := .accounts }}
                                       <option value="{{ $account.Number }}">{{ $account.Name }}</option>
                                   {{ end }}
                                   </select>
                               {{ else }}
                               {{ range $account := .accounts }}
                                       <input data-target="receive.account" value="{{ $account.Number }}" type="hidden" name="account">
                                   <input class="form-control singleAccountTextView" disabled value="{{ $account.Name }}">
                               {{ end }}
                               {{ end  }}
                               </div>
                           </div>
                       </div>
                       <div class="row">
                           <div class="col-md-5">
                               <div class="result-card">
                                   <div data-action="click->receive#copyAddressToClipboard" style="margin-top: -20px;" id="result-img">{{ rawHtml .imageStr }}</div>
                                   <div id="result-text" style="margin-top: -25px;">
                                       <span data-action="click->receive#copyAddressToClipboard" data-target="receive.address" id="address">{{ .address }}</span>

                                       <div class="btn-group">
                                           <button data-action="click->receive#copyAddressToClipboard" title="Copy to clipboard"
                                                   type="button" class="btn btn-xs btnCopy"><i class="fa fa-copy"></i></button>
                                           <button type="button" class="btn btn-xs dropdown-toggle dropdown-toggle-split btnCopy" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                               <span class="sr-only">More</span>
                                           </button>
                                           <div class="dropdown-menu">
                                               <a href="javascript:void(0)" class="dropdown-item"
                                                  data-target="receive.generateNewAddressButton"
                                                  data-action="click->receive#generateNewAddress">generate new address</a>
                                           </div>
                                       </div>
                                   </div>

                               </div>
                           </div>
                       </div>

                   </div>
                </div>
            </div>
        </div>
    </div>
    {{ template "footer" }}
    <style>
        .btn-form-group {
            padding-top: 26px;
        }

        .result-card {
            font-size: 15px;
            text-align: center;
        }
    </style>
</body>
</html>