<!DOCTYPE html>
<html lang="en">
{{ template "html-head" }}
<body data-controller="receive">
    <div class="body">
        {{ template "header" .connectionInfo }}
        <div class="content">
            <div class="container">
                <div class="card">
                   <div class="card-body">
                       <h5 class="card-title">Security</h5>
                       <p class="lead-text">Security page coming soon</p>
                   </div>
                </div>
            </div>
        </div>
    </div>
    {{ template "footer" }}
    <style>
        .btn-form-group {
            padding-top: 26px;
        }

        .result-card {
            font-size: 20px;
        }
    </style>
</body>
</html>