<!DOCTYPE html>
<html lang="en">
{{ template "html-head" }}
<body>
    <div class="body">
        {{ template "header" }}
        <div class="content">
            <div class="container">
                <div class="alert alert-danger hide-empty"></div>
                <div class="alert alert-success hide-empty"></div>
                <form method="POST" action="/send" id="send-form" novalidate>
                    {{ template "send-passphrase-modal" }}
                    <div class="card z-depth-0 bordered">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                       {{ $numberOfAccounts := len .accounts }} {{ if eq $numberOfAccounts 1 }}
                                            {{ $account := index .accounts 0 }}
                                            <div>Source Account</div>
                                            <strong>{{ $account.Name }} - {{ $account.Balance }} </strong>
                                            <div class="d-none">
                                                <select class="form-control" id="source-account" name="source-account">
                                                    {{ range $s := .accounts }}
                                                        <option value="{{ $s.Number }}">{{ $s.Name }} - {{ $s.Balance }}</option>
                                                    {{ end }}
                                                </select>
                                            </div>
                                        {{ else }}
                                            <label for="source-account">Source Account</label>
                                            <select class="form-control" id="source-account" name="source-account">
                                                {{ range $s := .accounts }}
                                                    <option value="{{ $s.Number }}">{{ $s.Name }} - {{ $s.Balance }}</option>
                                                {{ end }}
                                            </select>
                                        {{ end }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="amount">Amount (DCR)</label>
                                        <input type="number" class="form-control" id="amount" name="amount" />
                                    </div> 
                                    <div class="form-group">
                                        <input type="checkbox" name="use-custom" id="use-custom" value="1" />
                                        <label for="use-custom">Select custom inputs</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row d-none" id="custom-tx-row">
                                <div class="col-md-12">
                                    <div class="scrollable">
                                        <div class="alert alert-info">Select inputs to build custom transaction</div>
                                        <div class="status">Fetching Unspent Outputs</div>
                                        <div class="progress">
                                            <div class="progress-bar" style="width: 0%"></div>
                                        </div>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Hash</th>
                                                    <th>Amount</th>
                                                    <th>Time</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="destinationAddress">Destination Address</label>
                                        <input type="text" class="form-control" id="destination-address" name="destination-address" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="button" class="next-btn btn" id="submit-btn">Next</button>
                        </div>
                    </div>
               </form>
            </div>
        </div>
    </div>
    {{ template "footer" }}
    <style>
        .alert.hide-empty {
            display: none;
        }

        table {
            height: 300px !important;
            max-height: 300px !important;
        }
    </style>
    <script type="text/javascript" src="/static/js/send.js"></script>
</body>
</html>