<!DOCTYPE html>
<html lang="en">
{{ template "html-head" }}
<body data-controller="send">
<div class="body">
{{ template "header" .connectionInfo }}
    <div class="content">
        <div class="container">
            <form method="POST" action="/send" id="send-form" data-target="send.form" novalidate>
                <div class="collapsible">
                    <div class="card">
                        <div class="card-body no-btm-pad">
                            <h5 class="card-title">Sending Decred</h5>
                        </div>
                    </div>
                    <!-- from account and spend unconfirmed checkbox -->
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group mb-0">
                                    {{ if eq (len .accounts) 1 }}
                                    {{ $account := index .accounts 0 }}
                                        <input data-target="send.sourceAccount" value="{{ $account.Number }}"
                                               type="hidden" name="source-account" id="source-account">
                                        <b>From:</b> {{ accountString $account }}
                                    {{ else }}
                                        <label for="source-account"><b>From</b></label>
                                        <select data-target="send.sourceAccount" class="form-control"
                                                id="source-account" name="source-account">
                                        {{ range $account := .accounts }}
                                            <option value="{{ $account.Number }}">{{ accountString $account }}</option>
                                        {{ end }}
                                        </select>
                                    {{ end }}
                                    </div>

                                    <div class="form-group form-check mb-0 mt-1 {{ if noUnconfirmedBalance .accounts }}d-none{{ end }}">
                                        <input data-action="click->send#toggleSpendUnconfirmed"
                                               data-target="send.spendUnconfirmed" type="checkbox"
                                               class="form-check-input" name="spend-unconfirmed" id="spend-unconfirmed"
                                                {{ if .spendUnconfirmedFunds }} checked {{ end }}>
                                        <label class="form-check-label" for="spend-unconfirmed">Spend unconfirmed</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- custom inputs -->
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group mb-0">
                                <input data-target="send.useCustom"
                                       name="use-custom" value="1"
                                       type="checkbox" data-toggle="toggle" data-on="Custom Inputs" data-off="Automatic Inputs">
                            </div>

                            <div class="collapse mt-2" id="custom-inputs">
                                <div data-target="send.fetchingUtxos">Fetching Unspent Outputs</div>
                                <div class="progress">
                                    <div data-target="send.utxoSelectionProgressBar" class="progress-bar"
                                         style="width: 0%"></div>
                                </div>
                                <table class="table mb-0">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>Address</th>
                                        <th>Amount</th>
                                        <th>Time</th>
                                        <th>Confirmations</th>
                                    </tr>
                                    </thead>
                                    <tbody data-target="send.customInputsTable"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- destinations -->
                    <div class="card">
                        <div class="card-body">
                            <label><b>To</b></label>
                            <div data-target="send.destinations" id="destinations" class="row"></div>
                            <template data-target="send.destinationTemplate">
                                <div class="col-md-10 col-sm-12 destination">
                                    <div class="form-row align-items-center mb-2">
                                        <div class="form-group col-md-5 col-sm-12">
                                            <input data-target="send.address" placeholder="Address"
                                                   type="text" class="form-control"
                                                   name="destination-address">
                                        </div>

                                        <div class="form-group col-md-3 col-sm-12">
                                            <input data-target="send.amount"
                                                   data-action="keyup->send#destinationAmountEdited"
                                                   type="text" class="form-control amount"
                                                   placeholder="Amount (DCR)"
                                                   name="destination-amount">
                                        </div>

                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group form-check d-inline-flex align-items-center">
                                                <!-- add hidden form field because values are not submitted for unchecked checkboxes -->
                                                <input type="hidden" value="false" name="send-max-amount">
                                                <input data-target="send.maxSendAmountCheck"
                                                       data-action="click->send#maxSendAmountCheckboxToggle"
                                                       type="checkbox" class="form-check-input mt-0"
                                                       name="send-max-amount" value="true">
                                                <label class="form-check-label" for="send-max-amount">Send max</label>
                                            </div>
                                            &nbsp;
                                            <button data-target="send.removeDestinationBtn" data-action="click->send#removeDestination"
                                                    class="btn btn-outline-secondary removeDestinationBtn"
                                                    style="border: 1px solid #ced4da !important;" type="button">X</button>
                                        </div>

                                        <div class="col-sm-12 invalid-feedback d-none"></div>
                                    </div>
                                </div>
                            </template>
                            <div class="form-group mb-0">
                                <button type="button" data-action="click->send#newDestination"
                                        class="btn btn-sm btn-outline-secondary">
                                    Add another address
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- change outputs -->
                    <div class="card d-none" data-target="send.changeOutputs">
                        <div class="card-body">
                            <div id="changeOutputs">
                                <div class="card-header" id="headingOne">
                                    <button type="button"
                                            class="btn btn-link mb-0"
                                            data-action="send#toggleCustomChangeOutputsVisibility"
                                            data-target="#changeOutputsPnl"
                                            data-toggle="collapse"
                                            aria-controls="changeOutputsPnl">
                                        Change Outputs
                                    </button>
                                </div>

                                <div id="changeOutputsPnl" class="collapse" aria-labelledby="headingOne"
                                     data-parent="#changeOutputs">
                                    <div class="row mt-3">
                                        <div class="col-sm-12 form-inline">
                                            <label class="sr-only" for="numberOfChangeOutput">Number of
                                                Outputs</label>
                                            <input data-action="blur->send#generateChangeOutputs"
                                                   data-target="send.numberOfChangeOutputs"
                                                   class="form-control mb-0 mr-sm-2"
                                                   type="number" id="numberOfChangeOutput"
                                                   name="numberOfChangeOutput"
                                                   placeholder="Number Of Change Outputs">

                                            <div class="form-check mb-0 mr-sm-2">
                                                <input data-action="click->send#generateChangeOutputs"
                                                       data-target="send.useRandomChangeOutputs"
                                                       class="form-check-input"
                                                       type="checkbox" id="inlineFormCheck">
                                                <label class="form-check-label" for="inlineFormCheck">
                                                    Use Random Amount
                                                </label>
                                            </div>

                                            <button data-target="send.generateOutputsButton"
                                                    data-action="send#generateChangeOutputs"
                                                    id="generate-outputs-btn" type="button"
                                                    class="btn btn-sm btn-outline-secondary mt-0">
                                                Generate Change Outputs
                                            </button>
                                        </div>
                                    </div>
                                    <div data-target="send.generatedChangeOutputs" class="row mt-3 d-none"></div>
                                    <template data-target="send.changeOutputTemplate">
                                        <div class="col-md-8 col-sm-12">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <label for="change-output-address">Change Address</label>
                                                        <input data-target="send.changeOutputAddress" type="text" class="form-control" readonly
                                                               name="change-output-address"/>
                                                    </div>
                                                </div>

                                                <div class="col-md-3 col-sm-12">
                                                    <div class="form-group">
                                                        <label for="change-output-amount-percentage">Change
                                                            Percentage</label>
                                                        <div class="slidecontainer">
                                                            <input data-target="send.changeOutputPercentage"
                                                                   data-action="change->send#changeOutputAmountPercentageChanged"
                                                                   type="range" min="1" max="100" value="50"
                                                                   class="slider"
                                                                   name="change-output-amount-percentage">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-3 col-sm-12">
                                                    <div class="form-group">
                                                        <label>Change Amount (DCR)</label>
                                                        <input data-target="send.changeOutputAmount"
                                                               type="number" class="form-control" readonly
                                                               name="change-output-amount"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <div data-target="send.errorMessage" class="alert alert-danger d-none"></div>
                            <div data-target="send.successMessage" class="alert alert-success d-none"></div>
                            <div class="errors mb-3 d-none" data-target="send.errors"></div>
                            <button data-action="click->send#resetSendForm" class="btn btn-danger" id="reset-btn"
                                    type="button">Reset
                            </button>
                            <button data-target="send.nextButton" data-action="click->send#getWalletPassphraseAndSubmit"
                                    class="btn btn-primary" id="submit-btn" type="button">Next
                            </button>
                        </div>
                    </div>
                </div>

                <div class="modal" id="passphrase-modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Confirm Transaction</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div data-target="send.transactionDetails"></div>
                                <p>Enter your passphrase to continue</p>
                                <div class="form-group form-inline">
                                    <label for="passhprase">Passphrase</label>
                                    <input data-target="send.walletPassphrase" type="password" class="form-control ml-3" name="wallet-passphrase" id="wallet-passphrase" />
                                    <div data-target="send.passwordError" class="errors"></div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                <button data-action="click->send#submitForm" type="button" class="btn btn-success" id="passphrase-submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{{ template "footer" }}

</body>
</html>