<!DOCTYPE html>
<html lang="en">
{{ template "html-head" }}
<body data-controller="settings">
<div class="body">
{{ template "header" .connectionInfo }}
    <div class="content">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Application Settings</h5>

                    <div class="my-3 p-3 bg-white rounded box-shadow">

                        <h6 class="border-bottom border-gray pb-2 mb-0">General</h6>

                        <div class="list-group">
                            <a data-toggle="modal" data-target="#change-password-modal" href="#"
                               class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Change Spending Password</h5>
                                </div>
                                <p class="mb-0">Required to send fund</p>
                            </a>

                            <input data-target="settings.spendUnconfirmedFunds" data-action="change->settings#updateSpendUnconfirmed"
                                   id="spendUnconfirmed" type="checkbox" {{ if .spendUnconfirmedFunds }} checked {{ end }}/>
                            <label for="spendUnconfirmed" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Spend Unconfirmed Fund</h5>
                                </div>
                            </label>

                            <input type="checkbox" id="incomingTransactionNotification"/>
                            <label for="incomingTransactionNotification" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Incoming Transaction Notification</h5>
                                </div>
                            </label>

                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Currency Conversion</h5>
                                </div>
                            </a>

                            <input id="newBlockNotification" type="checkbox"/>
                            <label for="newBlockNotification" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">New Block Notification</h5>
                                </div>
                            </label>
                        </div>

                        <h6 class="border-bottom border-gray pb-2 mb-0 mt-2">Debug</h6>

                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Rescan Blockchain</h5>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Delete Wallet</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ template "footer" }}
<div class="modal" id="change-password-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form id="change-password-form">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Change Spending Password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div data-target="settings.changePasswordErrorMessage" class="alert alert-danger d-none"></div>

                    <div class="form-group">
                        <label for="oldPassword">Old Password</label>
                        <input data-target="settings.oldPassword" name="oldPassword" type="password" class="form-control" />
                        <div data-target="settings.oldPasswordError" class="alert-danger"></div>
                    </div>
                    <div class="form-group">
                        <label for="newPassword">New Password</label>
                        <input data-target="settings.newPassword" name="newPassword" type="password" class="form-control" />
                        <div data-target="settings.newPasswordError" class="alert-danger"></div>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Confirm Password</label>
                        <input data-target="settings.confirmPassword" name="confirmPassword" type="password" class="form-control" />
                        <div data-target="settings.confirmPasswordError" class="alert-danger"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button data-action="click->settings#changePassword" type="button" class="btn btn-success">Change Password</button>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>