<!DOCTYPE html>
<html lang="en">
{{ template "html-head" }}
<style>
    p {
        margin-bottom: 0 !important;
    }
</style>
<body>
<div class="body" data-controller="sync">
    <div class="content">
        <div class="container text-center" style="max-width: 500px;">
            <h3>Synchronizing</h3>
            <i>(Refresh to update)</i>
            <div class="progress my-3" style="height: 10px;">
                <div class="progress-bar progress-bar-striped progress-bar-animated"
                     style="width: {{ .TotalSyncProgress }}%"
                     role="progressbar" aria-valuenow="{{ .TotalSyncProgress }}" aria-valuemin="0"
                     aria-valuemax="100"></div>
            </div>
            <p>
            {{ if ne .TotalTimeRemaining "" }}
                <span data-target="sync.totalSyncProgress">{{ .TotalSyncProgress }}</span>% completed,
                <span data-target="sync.totalTimeRemaining">{{ .TotalTimeRemaining }}</span> remaining.
            {{ else }}
                <span data-target="sync.totalSyncProgress">{{ .TotalSyncProgress }}</span>% completed.
            {{ end }}
            </p>

            <button class="btn btn-sm btn-link" data-action="click->sync#showDetails">Tap to view information</button>

            <div data-target="sync.syncDetails" class="d-none">
            {{ if eq .CurrentStep "1" }}
                <p>
                    Fetched
                    <span data-target="sync.fetchedHeadersCount">{{ .FetchedHeadersCount }}</span>
                    of <span data-target="sync.totalHeadersToFetch">{{ .TotalHeadersToFetch }}</span> block headers.
                </p>
                <p><span data-target="sync.headersFetchProgress">{{ .HeadersFetchProgress }}</span>% through step 1 of 3.</p>
            {{ if ne .DaysBehind "" }}
                <p>Your wallet is <span data-target="sync.daysBehind">{{ .DaysBehind }}</span> behind.</p>
            {{ end }}
            {{ end }}

            {{ if eq .CurrentStep "2" }}
                <p>Discovering used addresses.</p>
                <p><span data-target="sync.addressDiscoveryProgress">{{ .AddressDiscoveryProgress }}</span> through step 2 of 3.</p>
            {{ end }}

            {{ if eq .CurrentStep "3" }}
                <p>Scanning
                    <span data-target="sync.currentRescanHeight">{{ .CurrentRescanHeight }}</span>
                    of <span data-target="sync.totalHeadersToFetch">{{ .TotalHeadersToFetch }}</span> block headers.
                </p>
                <p><span data-target="sync.rescanProgress">{{ .RescanProgress }}</span>% through step 3 of 3.</p>
            {{ end }}

                <p>
                    Syncing with
                    <span data-target="sync.connectedPeers">{{ .ConnectedPeers }}</span>
                    on <span data-target="sync.networkType">{{ .NetworkType }}</span>.
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
