<!DOCTYPE html>
<html lang="en">
{{ template "html-head" }}
<body>
<div class="body">
    <div class="content">
        <div class="container text-center" style="max-width: 500px;">
            <h3>Synchronizing</h3>
            <div class="progress my-3" style="height: 10px;">
                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 5%"
                     role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p>Fetched {{ .CurrentBlockHeight }} of {{ .BestBlockHeight }} block headers.</p>
            <p>Syncing with <b>{{ .ConnectedPeers }}</b> on {{ .networkType }}</p>
        </div>
    </div>
</div>
</body>
</html>
