<!DOCTYPE html>
<html lang="en">
    {{ template "html-head" }}

    <body>
        <div class="body">
            {{ template "header" }}
            <div class="content">
                <div class="container">
                    <div class="alert alert-warning">fff</div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Hash</th>
                                <th>Amount</th>
                                <th>Fee</th>
                                <th>Status</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                    <div id="status">
                        <span>Fetching data...</span>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(function () {
                var lastResponseLength = false;
                $.ajax({
                    url: "/tickets/data",
                    method: "GET",
                    data: {},
                    dataType: 'json',
                    success: function (response) {
                        if (response.success) {
                            var ticketHtml = response.message.map(ticket => {
                                return "<tr>" +
                                    "<td>" + ticket.ticket.hash + "</td>" +
                                    "<td>" + ticket.ticket.coin_amount + "</td>" +
                                    "<td>" + ticket.ticket.coin_fee + "</td>" +
                                    "<td>" + ticket.status + "</td>" +
                                    "<td>" + ticket.ticket.formatted_time + "</td>" +
                                    "</tr>"
                            });
                            $("tbody").append(ticketHtml);
                        } else {
                            $(".content .container").html("<div class='alert alert-danger'>" + response.message + "</div>");
                        }
                    },
                    error: function (error) {
                        $(".content .container").html("<div class='alert alert-danger'>An error occurred: " + error.responseText + "</div>");
                    },
                    complete: function () {
                        $("#status").remove();
                    }
                })
            })
        </script>
    </body>

</html>