<!DOCTYPE html>
<html lang="en">
{{ template "html-head" }}
<body>
    <div class="body">
        {{ template "header" }}
        <div class="content">
            <div class="container">
                {{ if .error }}
                <div class="alert alert-danger">{{ .error }}</div>
                {{ else }}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Hash</th>
                            <th>Total</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                       {{ range $txn := .result.Transactions }}
                       <tr>
                            <td>{{ .Hash }}</td>
                            <td>{{ .Total }} DCR</td>
                            <td>{{ .HumanTime }}</td>
                        </tr>
                       {{ end }}
                    </tbody>
                </table>
                {{ end }}
            </div>
        </div>
    </div>
</body>
</html>