<!DOCTYPE html>
<html lang="en">
{{ template "html-head" }}
<body>
<div class="body">
{{ template "header" .connectionInfo }}
<div>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/history">History</a></li>
                <li class="breadcrumb-item active" aria-current="page">Transaction Details</li>
            </ol>
        </nav>
    </div>
</div>
<div class="content">
    <div class="container">
        <h3>Transactions Details</h3>
        <div class="row">
                <div class="col-md-6">

            <table class="table m-0" style="border-bottom: 1px solid #dee2e6">
                <tbody>
                    <tr>
                        <td>Date</td>
                        <td class="text-right">{{ .tx.LongTime }}<span> UTC</span></td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        {{ $status := checkStatus .tx.Status}}
                        {{ if and $status }}
                        <td class="text-right"><p style="border: 1px solid #0BDA72; color: #0BDA72;display: block;width: 6rem; float: right; padding-right: .6rem; margin-bottom: 0"> {{ .tx.Status }} </p></td>
                        {{ else }}
                        <td class="text-right"><p style="border: 1px solid #24E8EF; color: #24E8EF;display: block;width: 6.5rem; float: right"> {{ .tx.Status }}</td>
                        {{ end }}
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td class="text-right" style="font-size: 15px">
                            {{ $balanceParts := splitAmountIntoParts .tx.Amount }}
                            <b>{{ index $balanceParts 0 }}{{ index $balanceParts 1 }}<span
                                style="font-size:13px;">{{ index $balanceParts 2 }}</span></b></td>
                            </tr>
                            <tr>
                                <td>Fee</td>
                                <td class="text-right" style="font-size: 15px">
                            {{ $balanceParts := splitAmountIntoParts .tx.Fee }}
                            <b>{{ index $balanceParts 0 }}{{ index $balanceParts 1 }}<span
                                style="font-size:13px;">{{ index $balanceParts 2 }}</span></b></td>
                            </tr>
                            <tr>
                                <td>Type</td>
                                <td class="text-right">{{ .tx.Type }}</td>
                            </tr>
                            <tr>
                                <td>Confirmations</td>
                                <td class="text-right">{{ .tx.Confirmations }}</td>
                            </tr>
                            <tr>
                                <td>Hash</td>
                                <td class="text-right">{{ .tx.Hash }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </div>
                <div class="row">
                <div class="col-md-6">
                    <table class="table m-0">
                        <tbody>
                            <tr>
                                <td style="border-top: none">
                                    <h3>Inputs</h3>
                                    {{ range $txn := .tx.Inputs }}
                                    <p style="margin-bottom: 0.3rem">{{ amountDcr .Amount  }}</p>
                                    <p>{{ .PreviousOutpoint }}</p>
                                    {{ end }}
                                </td> 
                            </tr>
                            <tr>
                                <td>
                                    <h3>Outputs</h3>
                                    {{ range .tx.Outputs }}
                                    <p style="margin-bottom: 0.1rem">{{ amountDcr .Amount }} <span>( {{ .AccountName }} )</span></p>
                                    <p style="margin-bottom: 1.2rem;">{{ .Address }}</p>
                                    {{ end }}
                                </td>
                            </tr>
                            <tr></tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>